@font-face {
  font-family: "Opinion Pro Condensed";
  src: local("Opinion Pro Condensed Light"), local("OpinionProCondensed-Light"), url("../fonts/OpinionProCondensed/Opinionprocondensedlight.woff2") format("woff2"), url("../fonts/OpinionProCondensed/Opinionprocondensedlight.woff") format("woff"), url("../fonts/OpinionProCondensed/Opinionprocondensedlight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Opinion Pro Condensed";
  src: local("Opinion Pro Condensed LightItalic"), local("OpinionProCondensed-LightItalic"), url("../fonts/OpinionProCondensed/Opinionprocondensedlightitalic.woff2") format("woff2"), url("../fonts/OpinionProCondensed/Opinionprocondensedlightitalic.woff") format("woff"), url("../fonts/OpinionProCondensed/Opinionprocondensedlightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 1.5rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 1.5rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 1.5rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 1.5rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 1.5rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 1.5rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 576px) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .row.start-sm {
    justify-content: flex-start;
  }

  .row.center-sm {
    justify-content: center;
  }

  .row.end-sm {
    justify-content: flex-end;
  }

  .row.top-sm {
    align-items: flex-start;
  }

  .row.middle-sm {
    align-items: center;
  }

  .row.bottom-sm {
    align-items: flex-end;
  }

  .row.around-sm {
    justify-content: space-around;
  }

  .row.between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 768px) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .row.start-md {
    justify-content: flex-start;
  }

  .row.center-md {
    justify-content: center;
  }

  .row.end-md {
    justify-content: flex-end;
  }

  .row.top-md {
    align-items: flex-start;
  }

  .row.middle-md {
    align-items: center;
  }

  .row.bottom-md {
    align-items: flex-end;
  }

  .row.around-md {
    justify-content: space-around;
  }

  .row.between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 992px) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .row.start-lg {
    justify-content: flex-start;
  }

  .row.center-lg {
    justify-content: center;
  }

  .row.end-lg {
    justify-content: flex-end;
  }

  .row.top-lg {
    align-items: flex-start;
  }

  .row.middle-lg {
    align-items: center;
  }

  .row.bottom-lg {
    align-items: flex-end;
  }

  .row.around-lg {
    justify-content: space-around;
  }

  .row.between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 1130px) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 1.5rem;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 1.5rem;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 1.5rem;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 1.5rem;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 1.5rem;
  }

  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }

  .col-xl-offset-12 {
    margin-left: 100%;
  }

  .row.start-xl {
    justify-content: flex-start;
  }

  .row.center-xl {
    justify-content: center;
  }

  .row.end-xl {
    justify-content: flex-end;
  }

  .row.top-xl {
    align-items: flex-start;
  }

  .row.middle-xl {
    align-items: center;
  }

  .row.bottom-xl {
    align-items: flex-end;
  }

  .row.around-xl {
    justify-content: space-around;
  }

  .row.between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
.col-gutter-lr {
  padding: 0 1.5rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 575.9px) {
  .show-xs-only {
    display: block !important;
  }

  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) {
  .show-sm {
    display: block !important;
  }

  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.9px) {
  .show-sm-only {
    display: block !important;
  }

  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }

  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.9px) {
  .show-md-only {
    display: block !important;
  }

  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .show-lg {
    display: block !important;
  }

  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1129.9px) {
  .show-lg-only {
    display: block !important;
  }

  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 1130px) {
  .show-xl {
    display: block !important;
  }

  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .hide-xl {
    display: none !important;
  }
}
.breadcrumb {
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.breadcrumb > li {
  line-height: 20px;
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb > li:after {
  content: ">";
  padding: 0 5px;
}
.form_control {
  margin: 0;
  width: 100%;
  color: #333;
  height: 36px;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  padding: 7px 15px;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ebebec;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
}
.form_control::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
.form_control:-ms-input-placeholder {
  color: #aaa;
}
.form_control::-webkit-input-placeholder {
  color: #aaa;
}
.form_control::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.form_control:focus, .form_control:active {
  outline: none;
}
.form_control:focus::-moz-placeholder, .form_control:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.form_control:focus:-ms-input-placeholder, .form_control:active:-ms-input-placeholder {
  color: transparent;
}
.form_control:focus::-webkit-input-placeholder, .form_control:active::-webkit-input-placeholder {
  color: transparent;
}
.form_control.error {
  border-bottom-color: darkred;
}

textarea.form_control {
  height: auto;
}

.form_inline {
  margin: 0 auto;
  max-width: 326px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.form_inline__item {
  padding: 0 3px;
}

.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 8px 15px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #EF7929;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  border-radius: 18px;
}
.btn:hover {
  color: #fff;
  background: #ef6100;
  text-decoration: none;
}
.btn:active {
  background: #EF7929;
}
.btn:focus, .btn.focus {
  outline: 0;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive-4by3::before {
  padding-top: 75%;
}

.embed-responsive-1by1::before {
  padding-top: 100%;
}

.img-fluid {
  height: auto;
  display: block;
  max-width: 100%;
}

.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.mb_10 {
  margin-bottom: 10px !important;
}

.mb_20 {
  margin-bottom: 20px !important;
}

.mb_30 {
  margin-bottom: 30px !important;
}

.mb_40 {
  margin-bottom: 40px !important;
}

.mb_45 {
  margin-bottom: 45px !important;
}

.mb_50 {
  margin-bottom: 50px !important;
}

.mb_60 {
  margin-bottom: 60px !important;
}

.color_yellow {
  color: #FFA227 !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  color: #000;
  font-family: "Opinion Pro Condensed", Arial, sans-serif;
  background-color: #fff;
  font-size: 1.6rem;
  line-height: 1.2;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 576px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1130px) {
  .container {
    width: 1100px;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.6rem;
  font-family: "Opinion Pro Condensed", Arial, sans-serif;
}
@media (min-width: 768px) {
  h1, .h1 {
    font-size: 3.5rem;
  }
}

h2, .h2 {
  font-size: 2.4rem;
  font-family: "Opinion Pro Condensed", Arial, sans-serif;
}
@media (min-width: 768px) {
  h2, .h2 {
    font-size: 3rem;
  }
}

h3, .h3 {
  font-size: 2.4rem;
  font-family: "Opinion Pro Condensed", Arial, sans-serif;
}

h4, .h4 {
  font-size: 2rem;
  font-family: "Opinion Pro Condensed", Arial, sans-serif;
}

h5, .h5 {
  font-size: 1.6rem;
  font-family: "Opinion Pro Condensed", Arial, sans-serif;
}

h6, .h6 {
  font-size: 1.4rem;
  font-family: "Opinion Pro Condensed", Arial, sans-serif;
}

p {
  margin: 0 0 20px 0;
}

a {
  outline: none;
  color: #000;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #000;
  text-decoration: none;
}

.header {
  color: #fff;
  padding-top: 30px;
  min-height: 100vh;
  padding-bottom: 100px;
  background: url("../img/header__bg.jpg") 50% 100% no-repeat;
  background-size: cover;
}
.header__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.header__logo {
  width: 100px;
  display: block;
}
.header__contact {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__contact > li:first-child {
  margin-bottom: 8px;
}
.header__phone {
  font-size: 2rem;
  line-height: 2rem;
  color: #FFA227;
  text-decoration: none;
}
.header__phone:hover {
  color: #FFA227;
  text-decoration: none;
}
.header__content {
  padding-top: 35px;
}
.header h1 {
  max-width: 780px;
  margin-bottom: 45px;
  text-shadow: 0px 1px 2px #363f4c;
}
.header__slogan {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 45px;
  text-shadow: 0px 1px 2px #363f4c;
}
.header__advantage {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 1.2;
  list-style: none;
  text-shadow: 0px 1px 2px #363f4c;
}
.header__advantage > li {
  padding: 2px 0;
}
@media (min-width: 768px) {
  .header {
    padding-top: 60px;
    padding-bottom: 200px;
    min-height: auto;
  }
  .header__logo {
    width: 140px;
  }
  .header__subtitle {
    font-size: 3rem;
  }
  .header__advantage {
    font-size: 2rem;
  }
  .header h1 {
    max-width: 450px;
  }
}
@media (min-width: 992px) {
  .header {
    height: 760px;
  }
}
@media (min-width: 1130px) {
  .header h1 {
    max-width: 600px;
  }
}

.footer {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 30px 0 50px 0;
  background: #e3e6eb;
}
.footer__logo {
  width: 140px;
  margin: 0 auto 20px auto;
}
.footer__text {
  text-align: center;
  margin-bottom: 20px;
}
.footer__contact {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.footer__contact > li:first-child {
  margin-bottom: 8px;
}
.footer__phone {
  color: #000;
  font-size: 2rem;
  line-height: 2rem;
  text-decoration: none;
}
.footer__phone:hover {
  color: #000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .footer__row_left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__logo {
    margin: 0 110px 0 0;
  }
  .footer__text {
    text-align: left;
    margin-bottom: 0;
  }
}

.bottom_line {
  padding: 10px 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background: #878f9b;
}
.bottom_line a {
  color: #CFD1D2;
  text-decoration: none;
}
.bottom_line a:hover {
  color: #CFD1D2;
  text-decoration: underline;
}

.map {
  height: 360px;
}
@media (min-width: 768px) {
  .map {
    height: 460px;
  }
}
@media (min-width: 992px) {
  .map {
    height: 620px;
  }
}

.page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  background: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.heading {
  text-align: center;
}
.heading h2 {
  margin-bottom: 10px;
}
.heading__subtitle {
  font-size: 2rem;
  line-height: 2.4rem;
}

.heading_white {
  padding: 44px 0;
  text-align: center;
}

.tile {
  max-width: 520px;
  margin: 0 auto 40px auto;
}
.tile__image {
  margin-bottom: 30px;
}
.tile__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 25px 30px;
  background: #edf0f4;
}
.tile__text h4 {
  font-size: 3rem;
  line-height: 3.2rem;
  margin-bottom: 10px;
}
.tile__text a {
  color: #878F9B;
  text-decoration: none;
  border-bottom: 1px dotted #878F9B;
}
.tile__text a:hover {
  color: #878F9B;
  text-decoration: none;
  border-bottom-color: transparent;
}
.tile__text p {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .tile {
    max-width: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .tile_invert .tile__image {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -moz-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .tile_invert .tile__text {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .tile__image {
    width: 390px;
    margin-bottom: 0;
    overflow: hidden;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .tile__image_wrap {
    margin: 0 -65px;
  }
  .tile__text {
    width: 520px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1130px) {
  .tile__image {
    width: 520px;
  }
  .tile__image_wrap {
    margin: 0;
  }
}

.step {
  margin: 0;
  padding: 0;
  list-style: none;
}
.step > li {
  color: #000;
  margin-bottom: 10px;
  padding: 30px 30px 30px 30px;
}
.step > li:nth-child(odd) {
  background: #edf0f4;
}
.step > li:nth-child(even) {
  color: #fff;
  background: #EF7929;
}
.step__number {
  text-align: center;
  font-size: 4rem;
  line-height: 4rem;
  padding-bottom: 15px;
}
.step__content {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.step__content h4 {
  font-size: 2.4rem;
  padding-right: 20px;
  line-height: 2.4rem;
  margin-bottom: 10px;
}
.step__content p {
  margin: 0;
}
@media (min-width: 768px) {
  .step > li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 50px 30px 45px;
  }
  .step > li:nth-child(even) h4:before {
    background: #fff;
  }
  .step__number {
    text-align: left;
    font-size: 10.6rem;
    line-height: 10rem;
    padding-right: 40px;
    padding-bottom: 0;
  }
  .step__content {
    text-align: left;
  }
  .step__content h4 {
    font-size: 3rem;
    line-height: 3rem;
    padding-left: 40px;
    position: relative;
  }
  .step__content h4:before {
    left: 0;
    top: 14px;
    content: "";
    width: 26px;
    height: 4px;
    position: absolute;
    background: #878f9b;
    display: inline-block;
  }
}

.result__slider {
  position: relative;
}
@media (min-width: 992px) {
  .result__slider_item {
    padding: 0 40px;
  }
}

.slider_button_prev,
.slider_button_next {
  top: 50%;
  opacity: 1;
  z-index: 10;
  width: 32px;
  height: 32px;
  font-size: 0;
  display: none;
  line-height: 0;
  cursor: pointer;
  margin-top: -16px;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.slider_button_prev:hover,
.slider_button_next:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 992px) {
  .slider_button_prev,
.slider_button_next {
    display: inline-block;
  }
}

.slider_button_prev {
  left: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.slider_button_next {
  right: 0;
}

.swiper-pagination {
  left: auto;
  right: auto;
  bottom: auto;
  font-size: 0;
  line-height: 0;
  padding-top: 20px;
  position: relative;
}

.swiper-pagination-bullet {
  opacity: 1;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background: #878F9B;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background: #BFCDDD;
}

.direction {
  margin: 0 auto;
  max-width: 519px;
}
.direction__item {
  text-align: center;
  background: #edf0f4;
  margin-bottom: 35px;
}
.direction__content {
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 0 20px 35px 20px;
}
.direction__title {
  font-size: 2rem;
  text-align: center;
  line-height: 2.4rem;
}
.direction__title:after {
  content: "";
  width: 24px;
  height: 4px;
  display: block;
  background: #878f9b;
  margin: 5px auto 10px auto;
}
.direction__text {
  max-width: 350px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .direction {
    max-width: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .direction__item {
    width: 455px;
  }
}
@media (min-width: 1130px) {
  .direction__item {
    width: 519px;
  }
}

.special {
  color: #fff;
  overflow: hidden;
  padding-top: 35px;
  background: #414042;
  position: relative;
}
.special__heading {
  text-align: center;
}
.special__heading_text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 5px;
}
.special__heading_subtitle {
  font-size: 3rem;
  line-height: 3.6rem;
  color: #FFA227;
}
.special__content {
  padding-top: 45px;
}
.special__box {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 60px;
}
.special__box h4 {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFA227;
}
.special__box p {
  margin: 0;
}
.special__info {
  padding-bottom: 22px;
  background: url("../img/special__line.png") 0 100% no-repeat;
}
.special__result {
  padding-top: 30px;
  padding-bottom: 35px;
}
.special__result ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.special__summary {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.special__summary_price {
  font-size: 2rem;
  line-height: 3rem;
  padding-right: 30px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
.special__summary_price span {
  padding: 0 5px;
  margin-right: 10px;
  white-space: nowrap;
  display: inline-block;
  text-decoration: line-through;
}
.special__summary_price strong {
  font-size: 3rem;
  font-weight: 300;
  white-space: nowrap;
  display: inline-block;
}
.special__summary_button {
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .special:before {
    left: 50%;
    bottom: -50px;
    z-index: 1;
    content: "";
    width: 518px;
    height: 265px;
    display: block;
    position: absolute;
    margin-left: -259px;
    background: url("../img/credit_card.png") 0 0 no-repeat;
  }
  .special__content {
    height: 810px;
    position: relative;
    padding: 45px 50px 100px 50px;
  }
  .special__content:after {
    top: 0;
    left: 0;
    z-index: 1;
    content: "";
    width: 137px;
    height: 100%;
    display: block;
    position: absolute;
    background: url("../img/special__left.png") 0 0 no-repeat;
  }
  .special__content:before {
    top: 0;
    right: 0;
    z-index: 1;
    content: "";
    width: 137px;
    height: 100%;
    display: block;
    position: absolute;
    background: url("../img/special__rigth.png") 0 0 no-repeat;
  }
  .special__wrap {
    z-index: 20;
    margin: 0 -25px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .special__box {
    width: 50%;
    padding: 0 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .special__info {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
@media (min-width: 1130px) {
  .special__content {
    margin: 0 -40px;
  }
  .special__box {
    padding: 0 40px;
  }
  .special:before {
    bottom: 0;
  }
}

.expert {
  color: #000;
  font-size: 1.6rem;
  line-height: 2.4rem;
  background: #e3e6eb;
  margin-bottom: 20px;
}
.expert__user {
  margin: 0 -15px;
  text-align: center;
  position: relative;
}
.expert__user:before {
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  background: #bfcddd;
}
.expert__user_wrap {
  z-index: 10;
  padding: 50px 30px;
  position: relative;
}
.expert__user_title {
  font-size: 3rem;
  line-height: 3.2rem;
  margin-bottom: 30px;
}
.expert__user_item {
  display: none;
}
.expert__user_item.active {
  display: block;
}
.expert__user_photo {
  width: 124px;
  height: 124px;
  overflow: hidden;
  margin: 0 auto 20px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.expert__user_name {
  margin-bottom: 25px;
}
.expert__content {
  padding-top: 50px;
  padding-bottom: 30px;
}
.expert__content ul {
  padding: 0;
  list-style: none;
  margin: 0 0 40px 0;
}
.expert__content ul li {
  margin-bottom: 20px;
}
.expert__content ul li:last-child {
  margin-bottom: 0;
}
.expert__nav {
  margin: 0 -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.expert__nav a {
  margin: 0 15px 20px 15px;
  color: #000;
  display: inline-block;
  text-decoration: none;
}
.expert__nav a i {
  width: 68px;
  height: 68px;
  display: block;
  overflow: hidden;
  position: relative;
  border: 4px solid transparent;
  margin: 0 auto 5px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.expert__nav a:hover {
  color: #FFA227;
  text-decoration: none;
}
.expert__nav a.active {
  color: #FFA227;
}
.expert__nav a.active i {
  border-color: #FFA227;
}
@media (min-width: 768px) {
  .expert__user {
    margin: 0 auto;
    max-width: 420px;
  }
}
@media (min-width: 992px) {
  .expert__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .expert__user {
    width: 400px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .expert__user:before {
    -webkit-transform: skewX(-12deg) skewY(0);
    -ms-transform: skewX(-12deg) skewY(0);
    -o-transform: skewX(-12deg) skewY(0);
    transform: skewX(-12deg) skewY(0);
  }
  .expert__user_wrap {
    padding: 50px 50px;
  }
  .expert__user_title {
    padding-left: 45px;
  }
  .expert__user_text {
    left: -20px;
    position: relative;
  }
  .expert__user_photo {
    left: 10px;
    position: relative;
  }
  .expert__content {
    padding: 55px 50px 30px 80px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .expert__content ul {
    padding-left: 10px;
  }
  .expert__nav a i {
    width: 86px;
    height: 86px;
  }
}
.meeting {
  overflow: hidden;
  background: #e3e6eb;
}
.meeting__wrap {
  padding-top: 65px;
  position: relative;
  padding-bottom: 85px;
}
.meeting__image {
  display: none;
}
.meeting__content {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.meeting__content_title {
  font-size: 3rem;
  line-height: 3.2rem;
  margin-bottom: 20px;
}
.meeting__content_text {
  padding-bottom: 10px;
}
.meeting__content_text p {
  margin: 0 0 25px 0;
}
.meeting__form {
  max-width: 326px;
}
@media (min-width: 768px) {
  .meeting__wrap {
    height: 530px;
  }
  .meeting__content {
    width: 630px;
  }
}
@media (min-width: 992px) {
  .meeting__image {
    bottom: 0;
    z-index: 1;
    left: -300px;
    width: 595px;
    display: block;
    position: absolute;
  }
  .meeting__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
  }
}
@media (min-width: 1130px) {
  .meeting__image {
    left: -190px;
  }
}

.variant {
  max-width: 520px;
  margin: 0 auto 40px auto;
}
.variant__image {
  margin-bottom: 30px;
}
.variant__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  background: #edf0f4;
  padding: 30px 20px 30px 30px;
}
.variant__text h4 {
  font-size: 3rem;
  line-height: 3.2rem;
  margin-bottom: 20px;
}
.variant__text p {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .variant {
    max-width: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
  .variant_invert {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .variant__image {
    width: 520px;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .variant__text {
    width: 400px;
  }
}
@media (min-width: 1130px) {
  .variant__text {
    width: 520px;
    padding-top: 55px;
  }
}

.stage {
  padding: 0;
  margin: 0 -15px;
  list-style: none;
}
.stage > li {
  padding: 0 15px;
  margin-bottom: 30px;
}
.stage > li:nth-child(1) i {
  width: 46px;
}
.stage > li:nth-child(2) i {
  width: 55px;
}
.stage > li:nth-child(3) i {
  width: 56px;
}
.stage > li:nth-child(4) i {
  width: 44px;
}
.stage__icon {
  height: 74px;
  position: relative;
  margin-bottom: 10px;
}
.stage__icon:after {
  left: 50%;
  bottom: 0;
  content: "";
  width: 26px;
  height: 4px;
  display: block;
  position: absolute;
  margin-left: -13px;
  background: #231f20;
}
.stage__icon i {
  display: block;
  margin: 0 auto;
}
.stage__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
}
.stage__text a {
  white-space: nowrap;
  color: #000;
  text-decoration: none;
}
.stage__text a:hover {
  color: #000;
  text-decoration: none;
}
.stage__text .btn_text {
  color: #FFA227;
  white-space: nowrap;
  text-decoration: none;
  border-bottom: 1px dashed #FFA227;
}
.stage__text .btn_text:hover {
  color: #FFA227;
  text-decoration: none;
  border-bottom-color: transparent;
}
@media (min-width: 768px) {
  .stage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .stage > li {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .stage {
    margin: 0 -30px;
  }
  .stage > li {
    width: 25%;
    padding: 0 30px;
  }
}

.clients {
  padding: 0;
  font-size: 0;
  line-height: 0;
  margin: 0 -15px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.clients > li {
  padding: 5px 15px;
  display: inline-block;
}
.clients > li img {
  height: auto;
  max-width: 100%;
  display: inline-block;
}
@media (min-width: 1130px) {
  .clients > li {
    padding: 5px 30px;
  }
}

.phone_number {
  color: #FFA227;
  text-decoration: none;
}
.phone_number:hover {
  color: #FFA227;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
