@font-face {
	font-family: 'Opinion Pro Condensed';
	src: local('Opinion Pro Condensed Light'), local('OpinionProCondensed-Light'), url('../fonts/OpinionProCondensed/Opinionprocondensedlight.woff2') format('woff2'), url('../fonts/OpinionProCondensed/Opinionprocondensedlight.woff') format('woff'), url('../fonts/OpinionProCondensed/Opinionprocondensedlight.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Opinion Pro Condensed';
	src: local('Opinion Pro Condensed LightItalic'), local('OpinionProCondensed-LightItalic'), url('../fonts/OpinionProCondensed/Opinionprocondensedlightitalic.woff2') format('woff2'), url('../fonts/OpinionProCondensed/Opinionprocondensedlightitalic.woff') format('woff'), url('../fonts/OpinionProCondensed/Opinionprocondensedlightitalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
