.footer {
	font-size: 1.6rem;
	line-height: 2.4rem;
	padding: 30px 0 50px 0;
	background: #e3e6eb;
	
	&__row {
	
	}
	
	&__logo {
		width: 140px;
		margin: 0 auto 20px auto;
	}
	
	&__text {
		text-align: center;
		margin-bottom: 20px;
	}
	
	
	&__contact {
		margin: 0;
		padding: 0;
		text-align: center;
		list-style: none;
		
		> li {
			
			&:first-child {
				margin-bottom: 8px;
			}
		}
	}
	
	&__phone {
		color: #000;
		font-size: 2rem;
		line-height: 2rem;
		text-decoration: none;
		
		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
	
	
	@media (min-width: $screen-md-min) {
		
		&__row {
			@include flexbox();
			@include justify-content(space-between);
		
			&_left {
				@include flexbox();
			}
			
			&_right {
			
			}
		}
		
		&__logo {
			margin: 0 110px 0 0;
		}
		
		&__text {
			text-align: left;
			margin-bottom: 0;
		}
	}
}

.bottom_line {
	padding: 10px 0;
	font-size: 1.2rem;
	line-height: 1.4rem;
	background: #878f9b;
	
	a {
		color: #CFD1D2;
		text-decoration: none;
		
		&:hover {
			color: #CFD1D2;
			text-decoration: underline;
		}
	}
}

.map {
	height: 360px;
	
	@media (min-width: $screen-md-min) {
		height: 460px;
	}
	
	@media (min-width: $screen-lg-min) {
		height: 620px;
	}
}