.page {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	background: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
	@include flex-grow(1);
}

.heading {
	text-align: center;
	
	h2 {
		margin-bottom: 10px;
	}
	
	&__subtitle {
		font-size: 2rem;
		line-height: 2.4rem;
	}
}

.heading_white {
	padding: 44px 0;
	text-align: center;
}

.tile {
	max-width: 520px;
	margin: 0 auto 40px auto;

	&__image {
		margin-bottom: 30px;
	}
	
	&__text {
		font-size: 1.6rem;
		line-height: 2.4rem;
		padding: 25px 30px;
		background: #edf0f4;
		
		h4 {
			font-size: 3rem;
			line-height: 3.2rem;
			margin-bottom: 10px;
		}
		
		a {
			color: #878F9B;
			text-decoration: none;
			border-bottom: 1px dotted #878F9B;
			
			&:hover {
				color: #878F9B;
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
		
		p {
			margin-bottom: 10px;
		}
	}
	
	
	@media (min-width: $screen-lg-min) {
		max-width: inherit;
		@include flexbox();
		@include justify-content(space-between);
		
		&_invert {
			
			.tile__image {
				@include order(2);
			}
			
			.tile__text {
				@include order(1);
			}
		}
		
		&__image {
			width: 390px;
			margin-bottom: 0;
			overflow: hidden;
			@include flex-shrink(0);
			
			&_wrap {
				margin: 0 -65px;
			}
		}
		
		&__text {
			width: 520px;
			@include flex-shrink(0);
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__image {
			width: 520px;
			
			&_wrap {
				margin: 0;
			}
		}
	}
}

.step {
	margin: 0;
	padding: 0;
	list-style: none;
	
	> li {
		color: #000;
		margin-bottom: 10px;
		padding: 30px 30px 30px 30px;
		
		&:nth-child(odd) {
			background: #edf0f4;
		}
		
		&:nth-child(even) {
			color: #fff;
			background: #EF7929;
		}
	}
	
	&__number {
		text-align: center;
		font-size: 4rem;
		line-height: 4rem;
		padding-bottom: 15px;
	}
	
	&__content {
		text-align: center;
		font-size: 1.6rem;
		line-height: 2.4rem;
		@include flex-grow(1);
		
		h4 {
			font-size: 2.4rem;
			padding-right: 20px;
			line-height: 2.4rem;
			margin-bottom: 10px;
		}
		
		p {
			margin: 0;
		}
	}
	
	@media (min-width: $screen-md-min) {
		
	
		> li {
			@include flexbox();
			padding: 30px 50px 30px 45px;
			
			&:nth-child(even) {
				
				h4 {
					
					&:before {
						background: #fff;
					}
				}
			}
		}
		
		&__number {
			text-align: left;
			font-size: 10.6rem;
			line-height: 10rem;
			padding-right: 40px;
			padding-bottom: 0;
		}
		
		&__content {
			text-align: left;
			
			h4 {
				font-size: 3rem;
				line-height: 3rem;
				padding-left: 40px;
				position: relative;
				
				&:before {
					left: 0;
					top: 14px;
					content: '';
					width: 26px;
					height: 4px;
					position: absolute;
					background: #878f9b;
					display: inline-block;
				}
			}
		}
	}
}


.result {
	
	&__slider {
		position: relative;
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__slider {
			
			&_item {
				padding: 0 40px;
			}
		}
	}
}


.slider_button_prev,
.slider_button_next {
	top: 50%;
	opacity: 1;
	z-index: 10;
	width: 32px;
	height: 32px;
	font-size: 0;
	display: none;
	line-height: 0;
	cursor: pointer;
	margin-top: -16px;
	position: absolute;
	@include border-radius(50%);
	@include transition(.3s);
	
	&:hover {
		opacity: 0.7;
		@include transition(.3s);
	}
	
	@media (min-width: $screen-lg-min) {
		display: inline-block;
	}
}

.slider_button_prev {
	left: 0;
	@include rotate(180deg);
}


.slider_button_next {
	right: 0;
}

.swiper-pagination {
	left: auto;
	right: auto;
	bottom: auto;
	font-size: 0;
	line-height: 0;
	padding-top: 20px;
	position: relative;
}

.swiper-pagination-bullet {
	opacity: 1;
	width: 14px;
	height: 14px;
	cursor: pointer;
	background: #878F9B;
	display: inline-block;
	@include border-radius(50%);
}

.swiper-pagination-bullet-active {
	background: #BFCDDD;
}


.direction {
	margin: 0 auto;
	max-width: 519px;
	
	&__item {
		text-align: center;
		background: #edf0f4;
		margin-bottom: 35px;
	}
	
	&__image {
	
	}
	
	&__content {
		font-size: 1.6rem;
		line-height: 2.4rem;
		padding: 0 20px 35px 20px;
	}
	
	&__title {
		font-size: 2rem;
		text-align: center;
		line-height: 2.4rem;
		
		&:after {
			content: '';
			width: 24px;
			height: 4px;
			display: block;
			background: #878f9b;
			margin: 5px auto 10px auto;
		}
	}
	
	
	&__text {
		max-width: 350px;
		margin: 0 auto;
	}
	
	
	@media (min-width: $screen-lg-min) {
		max-width: inherit;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		
		&__item {
			width: 455px;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__item {
			width: 519px;
		}
	}
}


.special {
	color: #fff;
	overflow: hidden;
	padding-top: 35px;
	background: #414042;
	position: relative;
	
	&__heading {
		text-align: center;
		
		&_text {
			font-size: 1.6rem;
			line-height: 2.4rem;
			margin-bottom: 5px;
		}
		
		&_subtitle {
			font-size: 3rem;
			line-height: 3.6rem;
			color: $color-yellow;
		}
	}
	
	&__content {
		padding-top: 45px;
	}
	
	&__wrap {
	
	}
	
	&__box {
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-bottom: 60px;
		
		h4 {
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: $color-yellow;
		}
		
		p {
			margin: 0;
		}
	}
	
	&__info {
		padding-bottom: 22px;
		background: url("../img/special__line.png") 0 100% no-repeat;
	}
	
	&__result {
		padding-top: 30px;
		padding-bottom: 35px;
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
	
	&__summary {
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-items(center);
		
		&_price {
			font-size: 2rem;
			line-height: 3rem;
			padding-right: 30px;
			padding-bottom: 10px;
			@include flexbox();
			@include align-items(center);
			
			span {
				padding: 0 5px;
				margin-right: 10px;
				white-space: nowrap;
				display: inline-block;
				text-decoration: line-through;
			}
			
			strong {
				font-size: 3rem;
				font-weight: 300;
				white-space: nowrap;
				display: inline-block;
			}
		}
		
		&_button {
			padding-bottom: 10px;
		}
	}
	
	
	@media (min-width: $screen-lg-min) {
		
		&:before {
			left: 50%;
			bottom: -50px;
			z-index: 1;
			content: '';
			width: 518px;
			height: 265px;
			display: block;
			position: absolute;
			margin-left: -259px;
			background: url("../img/credit_card.png") 0 0 no-repeat;
		}
		
		&__content {
			height: 810px;
			position: relative;
			padding: 45px 50px 100px 50px;
			
			&:after {
				top: 0;
				left: 0;
				z-index: 1;
				content: '';
				width: 137px;
				height: 100%;
				display: block;
				position: absolute;
				background: url("../img/special__left.png") 0 0 no-repeat;
			}
			
			&:before {
				top: 0;
				right: 0;
				z-index: 1;
				content: '';
				width: 137px;
				height: 100%;
				display: block;
				position: absolute;
				background: url("../img/special__rigth.png") 0 0 no-repeat;
			}
		}
	
		&__wrap {
			z-index: 20;
			margin: 0 -25px;
			position: relative;
			@include flexbox();
		}
		
		&__box {
			width: 50%;
			padding: 0 25px;
			@include flexbox();
			@include flex-direction(column);
		}
		
		&__info {
			@include flex-grow(1);
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__content {
			margin: 0 -40px;
		}
		
		&__box {
			padding: 0 40px;
		}
		
		&:before {
			bottom: 0;
		}
	}
}

.expert {
	color: #000;
	font-size: 1.6rem;
	line-height: 2.4rem;
	background: #e3e6eb;
	margin-bottom: 20px;
	
	&__row {
	
	}
	
	&__user {
		margin: 0 -15px;
		text-align: center;
		position: relative;
		
		&:before {
			left: 0;
			right: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			content: '';
			display: block;
			position: absolute;
			background: #bfcddd;
		}
	
		&_wrap {
			z-index: 10;
			padding: 50px 30px;
			position: relative;
		}
		
		&_title {
			font-size: 3rem;
			line-height: 3.2rem;
			margin-bottom: 30px;
		}
		
		&_item {
			display: none;
			
			&.active {
				display: block;
			}
		}
		
		&_photo {
			width: 124px;
			height: 124px;
			overflow: hidden;
			margin: 0 auto 20px auto;
			@include border-radius(50%);
		}
		
		&_name {
			margin-bottom: 25px;
		}
		
		&_text {
		
		}
	}
	
	&__content {
		padding-top: 50px;
		padding-bottom: 30px;
		
		ul {
			padding: 0;
			list-style: none;
			margin: 0 0 40px 0;
		
			li {
				margin-bottom: 20px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	
	&__nav {
		margin: 0 -15px;
		@include flexbox();
		@include flex-wrap(wrap);
		
		a {
			margin: 0 15px 20px 15px;
			color: $color-base;
			display: inline-block;
			text-decoration: none;
	
			i {
				width: 68px;
				height: 68px;
				display: block;
				overflow: hidden;
				position: relative;
				border: 4px solid transparent;
				margin: 0 auto 5px auto;
				@include border-radius(50%);
			}
			
			&:hover {
				color: $color-yellow;
				text-decoration: none;
			}
			
			&.active {
				color: $color-yellow;
			
				i {
					border-color: $color-yellow;
					
					&:before {
					
					}
				}
			}
		}
	}
	
	@media (min-width: $screen-md-min) {
	
		&__user {
			margin: 0 auto;
			max-width: 420px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__row {
			@include flexbox();
		}
		
		&__user {
			width: 400px;
			@include flex-shrink(0);
			
			&:before {
				@include skew(-12deg, 0);
			}
			
			
			&_wrap {
				padding: 50px 50px;
			}
			
			&_title {
				padding-left: 45px;
			}
			
			&_text {
				left: -20px;
				position: relative;
			}
			
			&_photo {
				left: 10px;
				position: relative;
			}
		}
		
		
		&__content {
			padding: 55px 50px 30px 80px;
			@include flex-grow(1);
			
			ul {
				padding-left: 10px;
			}
		}
		
		&__nav {
			
			a {
				
				i {
					width: 86px;
					height: 86px;
				}
			}
		}
	}
	
	@media (min-width: $screen-xl-min) {
	
	}
	
}

.meeting {
	overflow: hidden;
	background: #e3e6eb;
	
	&__wrap {
		padding-top: 65px;
		position: relative;
		padding-bottom: 85px;
	}
	
	&__image {
		display: none;
	}
	
	&__content {
		font-size: 1.6rem;
		line-height: 2.4rem;
		
		&_title {
			font-size: 3rem;
			line-height: 3.2rem;
			margin-bottom: 20px;
		}
		
		&_text {
			padding-bottom: 10px;
		
			p {
				margin: 0 0 25px 0;
			}
		}
	}
	
	&__form {
		max-width: 326px;
	}
	
	@media (min-width: $screen-md-min) {
		
		&__wrap {
			height: 530px;
		}

		
		&__content {
			width: 630px;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		
		&__image {
			bottom: 0;
			z-index: 1;
			left: -300px;
			width: 595px;
			display: block;
			position: absolute;
		}
		
		&__wrap {
			@include flexbox();
			@include justify-content(flex-end);
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__image {
			left: -190px;
		}
	}
}


.variant {
	max-width: 520px;
	margin: 0 auto 40px auto;
	
	&__image {
		margin-bottom: 30px;
	}
	
	&__text {
		font-size: 1.6rem;
		line-height: 2.4rem;
		background: #edf0f4;
		padding: 30px 20px 30px 30px;
		
		h4 {
			font-size: 3rem;
			line-height: 3.2rem;
			margin-bottom: 20px;
		}
		
		p {
			margin-bottom: 0;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		max-width: inherit;
		@include flexbox();
		@include justify-content(space-between);
		
		&_invert {
			@include flex-direction(row-reverse);
		}
		
		&__image {
			width: 520px;
			margin-bottom: 0;
			@include flex-shrink(0);
		}
		
		&__text {
			width: 400px;
		}
	}
	
	@media (min-width: $screen-xl-min) {
		
		&__text {
			width: 520px;
			padding-top: 55px;
		}
	
	}
}


.stage {
	padding: 0;
	margin: 0 -15px;
	list-style: none;
	
	> li {
		padding: 0 15px;
		margin-bottom: 30px;
		
		&:nth-child(1) {
		
			i {
				width: 46px;
			}
		}
		
		&:nth-child(2) {
			
			i {
				width: 55px;
			}
		}
		
		&:nth-child(3) {
			
			i {
				width: 56px;
			}
		}
		
		&:nth-child(4) {
			
			i {
				width: 44px;
			}
		}
	}
	
	&__icon {
		height: 74px;
		position: relative;
		margin-bottom: 10px;
		
		&:after {
			left: 50%;
			bottom: 0;
			content: '';
			width: 26px;
			height: 4px;
			display: block;
			position: absolute;
			margin-left: -13px;
			background: #231f20;
		}
		
		i {
			display: block;
			margin: 0 auto;
		}
	}
	
	&__text {
		font-size: 1.6rem;
		line-height: 2.4rem;
		text-align: center;
		
		a {
			white-space: nowrap;
			color: $color-base;
			text-decoration: none;
			
			&:hover {
				color: $color-base;
				text-decoration: none;
			}
		}
		
		.btn_text {
			color: $color-yellow;
			white-space: nowrap;
			text-decoration: none;
			border-bottom: 1px dashed $color-yellow;
			
			&:hover {
				color: $color-yellow;
				text-decoration: none;
				border-bottom-color: transparent;
			}
		}
	}
	
	
	@media (min-width: $screen-md-min) {
		@include flexbox();
		@include flex-wrap(wrap);
		
		> li {
			width: 50%;
		}
	}
	
	@media (min-width: $screen-lg-min) {
		margin: 0 -30px;
		
		> li {
			width: 25%;
			padding: 0 30px;
		}
	}
}

.clients {
	padding: 0;
	font-size: 0;
	line-height: 0;
	margin: 0 -15px;
	list-style: none;
	@include flexbox();
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(space-between);
	
	> li {
		padding: 5px 15px;
		display: inline-block;
		
		img {
			height: auto;
			max-width: 100%;
			display: inline-block;
		}
	}
	
	@media (min-width: $screen-xl-min) {
	
		> li {
			padding: 5px 30px;
		}
	}
}

.phone_number {
	color: $color-yellow;
	text-decoration: none;
	
	&:hover {
		color: $color-yellow;
		text-decoration: none;
	}
}

@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}