.header {
	color: #fff;
	padding-top: 30px;
	min-height: 100vh;
	padding-bottom: 100px;
	background: url("../img/header__bg.jpg") 50% 100% no-repeat;
	background-size: cover;
	
	&__top {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
	}
	
	&__logo {
		width: 100px;
		display: block;
	}
	
	&__contact {
		margin: 0;
		padding: 0;
		list-style: none;
		
		> li {
		
			&:first-child {
				margin-bottom: 8px;
			}
		}
	}
	
	&__phone {
		font-size: 2rem;
		line-height: 2rem;
		color: $color-yellow;
		text-decoration: none;
		
		&:hover {
			color: $color-yellow;
			text-decoration: none;
		}
	}
	
	&__content {
		padding-top: 35px;
	}
	
	h1 {
		max-width: 780px;
		margin-bottom: 45px;
		text-shadow: 0px 1px 2px rgba(54, 63, 76, 1);
	}
	
	&__slogan {
		font-size: 2.4rem;
		line-height: 1.2;
		margin-bottom: 45px;
		text-shadow: 0px 1px 2px rgba(54, 63, 76, 1);
	}
	
	&__advantage {
		margin: 0;
		padding: 0;
		font-size: 2rem;
		line-height: 1.2;
		list-style: none;
		text-shadow: 0px 1px 2px rgba(54, 63, 76, 1);
		
		> li {
			padding: 2px 0;
		}
	}
	
	
	@media (min-width: $screen-md-min) {
		padding-top: 60px;
		padding-bottom: 200px;
		min-height: auto;
		
		&__logo {
			width: 140px;
		}
		
		&__subtitle {
			font-size: 3rem;
		}
		
		&__advantage {
			font-size: 2rem;
		}
		
		h1 {
			max-width: 450px;
		}
	}
	
	
	@media (min-width: $screen-lg-min) {
		height: 760px;
	}
	
	@media (min-width: $screen-xl-min) {
		
		h1 {
			max-width: 600px;
		}
	}
}