@font-face {
    font-family: 'Opinion Pro Condensed';
    src: local('Opinion Pro Condensed Light'), local('OpinionProCondensed-Light'), url('Opinionprocondensedlight.woff2') format('woff2'), url('Opinionprocondensedlight.woff') format('woff'), url('Opinionprocondensedlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Opinion Pro Condensed';
    src: local('Opinion Pro Condensed LightItalic'), local('OpinionProCondensed-LightItalic'), url('Opinionprocondensedlightitalic.woff2') format('woff2'), url('Opinionprocondensedlightitalic.woff') format('woff'), url('Opinionprocondensedlightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
