
.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 2rem;
	padding: 8px 15px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #EF7929;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	@include border-radius(18px);

	&:hover {
		color: #fff;
		background: #ef6100;
		text-decoration: none;
	}

	&:active {
		background: #EF7929;
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}