.form_control {
	margin: 0;
	width: 100%;
	color: #333;
	height: 36px;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	padding: 7px 15px;
	background: #ffffff;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ebebec;
	@include placeholder(#aaa);
	@include border-radius(18px);
	
	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}
	
	&:focus,
	&:active {
		outline: none;
		@include placeholder(transparent);
	}
	
	&.error {
		border-bottom-color: darkred;
	}
}

textarea.form_control {
	height: auto;
}


.form_inline {
	margin: 0 auto;
	max-width: 326px;
	@include flexbox();
	
	&__item {
		padding: 0 3px;
	}
}